<h3>Add New Comment</h3>

<div class="row" style="width: 100%">
  <form action="" name="comments_post">
    <div class="form-group">
      <textarea class="form-control" rows="5" id="comment" style="width: 90%"></textarea>
    </div>
    <div style="float: right">
      <button  type="button" id="post_btn" class="btn btn-default">Post</button>
    </div>
  </form>
</div>